.wrapper{
  background-color: #CDDCE5;
  width:20%;
  height:50px;
  display: block;
  position: -webkit-sticky; /* Safari */
  position: sticky;
top: 0;

}

.header {
  color:#262C12 ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px
}


a:hover:not(.active) {
  background-color: #6D4E3D;
}

.active {background-colour:#262C12}

body {
  background: url("images/brancheshor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
  background-attachment: fixed;


}

h1 {
font-family: 'Staatliches', cursive;
margin: 10px;
padding: 5px;
font-size: 80px;
line-height: 110px;
color: #CDDCE5;
text-align: center;
letter-spacing: 5px;
}

ul, ol {
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  padding: 70px
}

h2 {
font-family: 'Staatliches', cursive;
margin: 2px;
padding: 2px;
margin: 10px;
padding: 10px;
font-size: 36px;
line-height: 40px;
text-align: left;
letter-spacing: 3px;
color: #CDDCE5;
}

h3 {
font-family: 'Staatliches', cursive;
margin: 2px;
padding: 2px;
margin: 10px;
padding: 10px;
font-size: 46px;
line-height: 40px;
text-align: left;
letter-spacing: 5px;
color: #262C12;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}



p {
font-size: 22px;

line-height: 28px;
text-align: left;
color: #FFFFFF;
padding: 40px
}

footer{
  background-color:#262C12;
  padding:10px;
  text-align: center;

 }

 a {color:#CDDCE5;}

/********* BASIC NAV STYLES THAT AREN'T AFFECTED BY BROWSER WIDTH *********/
.nav-wrapper {background-color: #002b18;position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;}
.topnav { display: flex; justify-content: center;
  align-items: center;  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;}
.topnav a { color: white; padding-top: 20px ;padding-bottom: 10px ;padding-left: 16px; padding-right: 16px; text-decoration: none; font-size:17px; }
.topnav a:hover { color: #68AD4C;}
.topnav a.active { background-color: #262C12; color: #68AD4C;}
.topnav .icon { display: none;}


/********* GLOBAL GRID STYLES *********/

/* The grid-area property places a grid item into a named
   * region (area) of the grid. */
  #one    { grid-area: one; }
  #two    { grid-area: two; }
  #three  { grid-area: three; }
  #four   { grid-area: four; }
  #five   { grid-area: five; }
  #six    { grid-area: six; }
  #seven  { grid-area: seven; }
  #eight  { grid-area: eight; }
  #nine  { grid-area: nine; }
  /*** end global grid styling ***/

  .box {
    background-color: #262C12;
    margin: 0.5em;
    padding: 15px;
    border-radius: 6pt;
    width:auto;
  }

/********* MEDIA QUERIES BEGIN *********/


@media (max-width: 828px) {

    .menu-link {display: none;}
    .topnav.clicked .menu-link {display: block;}

    .topnav {
      flex-direction: column;
      align-items: flex-end;
      }

    .topnav a.icon {
      display: flex;
      background-color: #262C12;
      }

      .grid-section {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 20px;
        margin-left: 20px;
          padding: 5px;
          min-height: 20px;
          border-radius: 6pt;
          background: #6D4E3D;

      }

      #grid {
      display:grid;
      grid-template: "one one"
                     "two two"
                     "three three"
                     "four four"
                     "five five"
                     "six six"
                     "seven seven"
                     "eight eight"
                     "nine nine";
      grid-template-columns: repeat (2, 1fr);
       grid-gap: .2em;
     }
     .flex-wrapper {
       display: block;
     }

     .wrapper{
       width:45%;
     }

     h1 {
       font-size: 36px;
       line-height: 40px;
     }

     h3 {
       font-size: 32px;
       line-height: 36px;
     }

     p {
       font-size: 17px;
       line-height: 20px;
     }

     ol, ul {
       font-size: 17px;
       line-height: 20px;

     }

     h2 {
       font-size: 24px;
       line-height: 28px;
       letter-spacing: 2px
     }


}



@media (min-width:829px){

  .grid-section {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
      padding: 5px;
      min-height: 20px;
      border-radius: 6pt;
      background: #6D4E3D;

  }
    #grid {
      display: grid;
      margin:5em;
      /* The columns and areas of the grid can be defined visually
       * using the grid-template property.  Each string is a row, and
       * each word an area.  The number of words in a string
       * determines the number of columns. Note the number of words
       * in each string must be identical. */
      grid-template: "one one one one"
                     "two two two two"
                     "three three three three"
                     "four four four four"
                     "five five five five"
                     "six six six six"
                     "seven seven seven seven"
                     "eight eight eight eight"
                     ;
       grid-template-columns: repeat(4, 1fr);
       grid-gap: 1em;
    }

    .flex-wrapper {
      display: flex;
    }
    #six>.flex-wrapper>box,
    #seven>.flex-wrapper>box{
      width:100%;
    }
  }
